.page-header > h1, .page-header > ul  {
  display: inline-block;
  box-sizing: border-box;
}

.page-header > h1  {
  margin-right: 30%;
}

.panel  {
  text-align: center;
  width: 30rem;
  height: 10rem;
  box-sizing: border-box;
  margin: 0;
}

footer {
  background-color: #8a8a8a;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
}
