.page-header > h1, .page-header > ul  {
  display: inline-block;
  box-sizing: border-box;
}

.page-header > h1  {
  margin-right: 30%;
}

.panel  {
  text-align: center;
  width: 30rem;
  height: 10rem;
  box-sizing: border-box;
  margin: 0;
}

footer {
  background-color: #8a8a8a;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  border-radius: 10px;
}
main  {
  box-sizing: border-box;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.left, .right{
  box-sizing: border-box;
  display: inline;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

.left  {
  width: 40%;
}

.right {
  width: 60%;
}

.weekly-special  {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  padding: 20px;
  display: block;
  border-top: 1px solid black;
}

.weekly-special > h3  {
  text-align: center;
}
.weekly-special > p  {
  margin-left: 7rem;
}

.img-responsive  {
  padding-bottom: 20px;
}

.special-img  {
  padding-top: 40px;
  padding-bottom: 40px;
}

.copyright  {
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}
